<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>task-spooler</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
  </head>
  <body>
    <h1>GUI for task-spooler</h1>
    <table>
      <thead id="table-head">
        <tr>
          <th>ID</th>
          <th>State</th>
          <th>Output</th>
          <th>E-Level</th>
          <th>Times(r/u/s)</th>
          <th>Command</th>
          <th>[run=0/1]</th>
        </tr>
      </thead>
      <tbody id="table-body"></tbody>
    </table>
    <script src="{{url_for('static', filename='index.js')}}"></script>
  </body>
</html>
